// Xcode target configuration settings shared across all Max projects
// To change settings for only one project, override the settings using Xcode's target inspector.
//
// Timothy Place
// Copyright © 2011, Cycling '74


PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = 7.1.0
PRODUCT_BUILD = 1974

ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH=YES


// The following section sets the Mac SDK version to be used.
// For most projects this has little to no impact because there are no direct dependencies on OS function calls.
// In those projects with OS function calls, it should be okay to use the most recent SDK version because the
// MACOSX_DEPLOYMENT_TARGET will disable functionality that is unavailable in the older target OS.
// For this reason, the SDKROOT variable is commented out, telling Xcode to use the default (which is the most recent SDK).
//
// SDKROOT = macosx10.6
// SDKROOT = macosx10.7


MACOSX_DEPLOYMENT_TARGET = 10.7

// GCC_VERSION = com.apple.compilers.llvmgcc42
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
// CLANG_CXX_LANGUAGE_STANDARD = c++11
// CLANG_CXX_LIBRARY = libc++


//SYSBUILD_BRANCH = master
SYSBUILD = $(SRCROOT)/../../../sysbuild$(SYSBUILD_BRANCH)_$(ARCHS)

CLANG_LINK_OBJC_RUNTIME = NO

C74_FRAMEWORK_PATH_SUFFIX[arch=i386] =
C74_FRAMEWORK_PATH_SUFFIX[arch=x86_64] = x64
C74_FRAMEWORK_PATH_SUFFIX[arch="i386 x86_64"] = x64
C74_FRAMEWORK_PATH_SUFFIX[arch="x86_64 i386 "] = x64

#include "max-local.xcconfig"

C74_SYM_LINKER_FLAGS = @$(SRCROOT)/../../c74support/max-includes/c74_linker_flags.txt
C74_DEVELOPER_BIN_DIR = /Applications/Developer/C74.compiler/bin

C74_ROOT = $(SYSBUILD)/$(CONFIGURATION)/resources
EXTERNALS_ROOT = $(C74_ROOT)/externals
EXTENSIONS_ROOT = $(C74_ROOT)/extensions
JSEXTENSIONS_ROOT = $(C74_ROOT)/jsextensions
